* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
}

.center {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 94px;
  text-shadow: 3px 3px 1px yellow, 3px -3px 1px magenta, -3px 3px 1px cyan;
  z-index: 1;
}

.rouletteContainer {
  position: relative;
  height: 100px;
  max-width: 1500px;
  overflow-x: hidden;
  border: 1px solid black;
  margin: 75px auto;
}

.roulette {
  top: 10px;
  position: absolute;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  left: 0;
}

.roulette:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted #ff0000;
  transform: translate(-50%);
}

.roulette > div {
  width: 140px;
  min-width: 140px;
  float: left;
}

.roulette > div > h3 {
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.line {
  width: 5px;
  position: absolute;
  background-color: black;
  height: 100px;
  left: 180px;
  z-index: 1;
}
