.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;

  .card--title {
    font-size: 36px;
    background-color: #e6e6e6;
  }
}

.card--body {
}

.footer {
  background-color: #f6f6f6;
}
