* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin-bottom: 45px;
}

.status {
  margin-top: 15px;
}

.status--win {
  background-color: aquamarine;
}

.status--lose {
  background-color: red;
}
