* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    background: blue;
    width: 300px;
    /* padding: 25px; */
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: violet;
    width: 100px;
    height: 100px;
    margin: 20px;
}
/* 
Float: saca del flujo el elemento como position absolute
left: me alinia el elmento hacia la izquierda
right: idem pero a la derecha
 */
.box1{
    float: right;
}

.box2{
    float: left;
}  
/* 
    Para recuperar el flow normal usamos clear,
    es como hacer un diplay block.
 */
.clear{
    clear: both;
} 