$primary-color: hsl(230, 29%, 20%);
$background-color: hsl(230, 11%, 40%);
$secondary-color:hsl(231, 7%, 65%);
$success-color:rgb(20,200,20);
$danger-color:rgb(200,20,20);

$font-size:18px;

$sm:480px;
$md:860px;
$xl:1200px;