.badge{
    padding: $sp1 $sp2;
    display: inline-block;
    text-transform:uppercase;
    border-radius: 34px;
    color: #fff;
    text-align: center;
    &--primary{
        background-color: $primary-color;
    }
    &--black{
        background-color: #000;
    }
}