*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;  
}

/* 
    flex para dividir en dos
    magin en auto para centrar
*/
.container{
    width: 1440px;
    display: flex;
    margin: auto;
    border: 1px solid black;
    background: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

.left{
    padding: 0 175px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
}

.left-img{
    margin-top: 50px;
}

.left-title{
    margin-top: 150px;
    font-size: 64px;
    text-transform: uppercase;
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    letter-spacing: 18px;
}

.left-title-mod{
    color: black;
    font-weight: 600;
}

.left-text{
    margin-top: 25px;
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    line-height: 28px;
}

.left-form{
    position: relative;
    margin-top: 25px;
}

.left-form-input{
    width: 450px;
    height: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    padding-left: 24px;
}

.left-form-input::placeholder{
    color: hsl(0, 36%, 70%);
    font-weight: 600;
}

.left-form-button{
    position: absolute;
    right: 25px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 5px 20px 1px hsl(0, 80%, 86%);
}

.left-form-button:hover{
    box-shadow: 0 5px 20px 2px hsl(0, 93%, 68%);
    height: 55px;
    width: 105px;
}

.right-img{
    height: 100%;
}

