.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

.container{
  width: 1440px;
  margin:auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  margin-top: 75px;
}

.title{
  margin-top: 35px;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}

.title_mod{
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

.subtitle{
  margin: 25px 0;
  font-weight: 300;
  color: hsl(209, 33%, 12%);
}

.form input[type="email"]{
  outline: none;
  margin-right: 15px;
  height: 50px;
  width: 350px;
  border-radius: 30px;
  padding-left: 25px;
  border: 1px solid hsl(223, 100%, 88%);
  color: hsl(223, 87%, 63%); 
}

/* .form_email::placeholder{
  color: hsl(223, 87%, 63%); 
} */

.btn{
  outline: none;
  height: 50px;
  padding: 0 50px;
  border-radius: 30px;
  border:none;
  background-color: hsl(223, 87%, 63%);
  color: #FFF;
  font-weight: 700;
  box-shadow: -1px 4px 19px -4px hsla(223, 87%, 63%,0.5) 
}

.btn:hover{
  background-color: hsl(223, 87%, 45%);
}

.btn:active{
  background-color: hsl(223, 87%, 25%);
  box-shadow: none;
}

.ilustracion{
  margin: 50px;
  width: 50%;
}

.redes{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.redes_hiper{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid hsl(223, 87%, 63%);
  /* text-align: center;
  line-height:50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.fab{
  font-size: 16px;
  color: hsl(223, 87%, 63%);
}

.footer{
  color:hsl(0, 0%, 59%);
  margin: 30px 0;
  font-size: 12px;
}