
$primary-color:hsl(180, 29%, 50%);
$backgroud-color:hsl(180, 52%, 96%);
$label-color:hsl(180, 8%, 52%);
$close-color:hsl(180, 14%, 20%);
$backgroud-color-cards:#fff;

$box-shawdow:0px 10px 15px -7px rgba($primary-color,0.5);

$font-size:15px;

$font-weight-bold:700;
$font-weight-medium:500;

// Pantallas
$sm:680px;

$xl:1280px;

// Espacioado
$sp1: 0.5rem;
$sp2: 0.75rem;
$sp3: 1rem;
$sp4: 1.5rem;
$sp5: 2rem;
$sp6: 3rem;
$sp7: 4rem;