body{
    background-color: hsl(120, 92%, 20%);
    font-family: 'Playfair Display', serif;
}
h1{
    color:red;
    font-family: Verdana, sans-serif;
    font-size: 32px;
}

h2{
    color:darkred;
    font-family: Verdana, sans-serif;
    font-size: 24px;
}

li,p{
    color: skyblue;

}

.negro{
    color:black
}

.grande{
    font-size:20px;
}

strong{
    background-color: black;
    color:white;
}

#datos{
    background-color: beige;
}